div
{
width:100px;
height:100px;
background:yellow;
transition-property:width 1s ;

}

div:hover
{
width:200px;
}

#div1{
  border-radius:10%;
  border:2px dashed #CC0000;
}
#div2{
  border-radius:10%;
  background-color:blue;
  border:3px dashed #CC0000;
}
