div
{
width:100px;
height:100px;
background:yellow;
transition:width 2s ;
}

div:hover
{
width:200px;
}

#div1{
  border-radius:10%;
  border:2px dashed #CC0000;
}
#div2{
  border-radius:10%;
  background-color:blue;
  border:3px dashed #CC0000;
}
#webtitle{
   
  text-shadow:5px 5px 3px black;
  font-family:Verdana;
  /*font-size:40px;*/
 
}
#webtitle:hover
{
  color:red;
  transition:color 3s;
  
  
}
